<!doctype html>
<html lang="cn" ng-app="ffxivCraftOptWeb">

<head>
	<meta name="force-rendering" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="《最终幻想XIV》中文版生产模拟器，配方已采用国际服7.15、国服7.05最新数据，目前均可通用。本模拟器已汉化大部分内容，版权归原作者所有。">
	<meta name="keywords"
		content="生产模拟器,最终幻想XIV,最终幻想14,FF14,FFXIV,FF14生产,FF14模拟器,ff14,FF14生产,FF14生产宏,FFXIV Crafting Optimizer">
	<title>
		《最终幻想14》生产模拟器 v7.15 - FFXIV Crafting Optimizer
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="css/lib/bootstrap-combined.min.css" />
	<link rel="stylesheet" href="css/lib/font-awesome.css">
	<link rel="stylesheet" href="css/lib/angular-busy.min.css" />
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/app.css" />
	<script src="js/lib/angular.min.js">
	</script>
	<script src="js/lib/angular-ui-router.js">
	</script>
	<script src="js/lib/angular-busy.min.js">
	</script>
	<script src="js/lib/angular-translate.min.js">
	</script>
	<script src="js/lib/angular-translate-loader-static-files.min.js">
	</script>
	<script>var _hmt = _hmt || []; (function () {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?e449c05d9fd182e0462b8404f9f1c11d";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();</script>
</head>

<body ng-controller="MainController" ng-cloak>
	<div cg-busy="cgBusyConfig">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<button type="button" class="btn btn-navbar"
						ng-click="pageState.navBarCollapsed = !pageState.navBarCollapsed">
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a class="brand" href="index.html">
						{{'FFXIV Crafting Optimizer' | translate}}
					</a>
					<div class="nav-collapse" collapse="pageState.navBarCollapsed">
						<ul class="nav">
							<li ui-sref-active="active">
								<a ui-sref="simulator">
									{{ 'NAV_SIMULATOR' | translate }}
								</a>
							</li>
							<li ui-sref-active="active">
								<a ui-sref="crafter-attributes">
									{{ 'NAV_CRAFTER_ATTRIBUTES' | translate }}
								</a>
							</li>
							<!-- <li ui-sref-active="active">
									<a ui-sref="solver" style="color: #191919;">
										{{ 'NAV_SOLVER' | translate}}
									</a>
								</li> -->
							<li ui-sref-active="active">
								<a href="https://tnze.yyyy.games/" target="_blank"
									style="color: #ffff00;font-weight: bold;">
									【全新开发的BestCraft模拟器（含求解器）！点这里...】
								</a>
							</li>
						</ul>
						<ul class="nav pull-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle">
									{{ 'MORE' | translate}}
								</a>
								<ul class="dropdown-menu">
									<li>
										<a ng-click="showSettingsImportModal()">
											{{ 'SETTINGS_MANAGEMENT' | translate }}
										</a>
									</li>
									<li ui-sref-active="active">
										<a target="_blank" href="https://www.bilibili.com/read/cv17174688">
											{{ 'INSTRUCTIONS' | translate }}
										</a>
									</li>
									<li ui-sref-active="active">
										<a target="_blank" href="https://www.bilibili.com/video/BV1Ea41177zQ">
											{{ 'VIDEO_INSTRUCTIONS' | translate }}
										</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle">
									{{ 'LANGUAGE' | translate }} : {{languages[currentLang()]}}
								</a>
								<ul class="dropdown-menu">
									<li ng-repeat="(langCode, langName) in languages">
										<a ng-click="changeLang(langCode)">
											{{langName}}
										</a>
									</li>
								</ul>
							</li>
							<li>
								<a ng-click="showOptionsModal()">
									<i ng-if="pageState.navBarCollapsed" class="fa fa-cog fa-lg">
									</i>
									<span ng-if="!pageState.navBarCollapsed">
										{{ 'OPTIONS' | translate}}
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<noscript>
					<h1>
						{{ 'NO_SCRIPT' | translate}}
					</h1>
				</noscript>
				<ng-form name="allForms">
					<div class='ad'>
						<i class="iconfont">&#xe633;</i>
						<div class='content'>
							<span style="color:red">国人大佬全新开发的BestCraft生产模拟器（含求解器）已经正式上线！请访问 <a
									href="https://tnze.yyyy.games/">https://tnze.yyyy.games/</a>
								，欢迎在<a href="https://pd.qq.com/s/al6b5xo69"> QQ频道 </a>反馈意见！</a>
							</span>
						</div>
					</div>
					<div ui-view>
					</div>
				</ng-form>
			</div>
		</div>
		<footer>
			<div class="container-fluid">
				<p class="muted">Copyright &copy; 2014 - 2024 by Rhoda Baker and <a
						href="http://github.com/doxxx/ffxiv-craft-opt-web">Gordon Tyler</a>. Simplified Chinese version
					edited by <a href="https://github.com/yls888/">瑤瑤瑤影@神意之地</a> & <a
						href="https://github.com/kongspark/">kongspark@Github</a> & <a
						href="https://github.com/KeithMaxwellZ/">埃尔德里基@延夏</a>. Sourcecode on <a
						href="https://github.com/yls888/ffxiv-craft-opt-web">Github</a>. {{version}}</p>
				<p class="muted">FINAL FANTASY XIV &copy; 2010 - 2024 SQUARE ENIX CO., LTD. FINAL FANTASY is a
					registered trademark of Square Enix Holdings Co., Ltd. All material used under license.</p>
				<p class="muted" style="color:red;font-style:bold;">
					1、模拟器最后更新时间：2024.01.09【适配版本号：国际服7.15，国服7.05】，如遇各种异常情况，请务必先清空浏览器缓存再尝试。</p>
				<p class="muted" style="color:red;font-style:bold;">
					2、欢迎使用全新开发的BestCraft模拟器 <a href="https://tnze.yyyy.games/">https://tnze.yyyy.games/</a>
					进行求解，不建议使用本模拟器中的求解功能。本模拟器预计会继续维护配方到8.0版本，直到新模拟器完善为止。
				</p>
				<p class="muted" style="color:red;font-style:bold;">
					3、如页面宕机或对页面有反馈可以给我发送邮件：conan08#vip.qq.com（请把#替换成@），收到邮件会尽快处理。</p>
				<p class="muted" style="color:red;font-style:bold;">4、模拟器只支持非IE内核的浏览器，如页面出现乱码，请确认浏览器处在“极速模式”下，或<a
						href="https://www.google.cn/chrome/" target="_blank">点此</a>下载谷歌浏览器访问。</p>
				<div style="color:red; line-height:30px;">如果觉得本站对你有帮助，并愿意帮忙负担一点点服务器费用，请点击这里：<a
						href="https://afdian.com/@ffxivtk" target="_blank"><img src="img/coffee.png"
							alt="Buy Me a Coffee" style="height: 20px; text-align:right"></a></div>
			</div>
		</footer>
	</div>
	<script src="js/lib/ui-bootstrap-tpls.min.js">
	</script>
	<script src="lib/lvl-drag-drop/lvl-uuid.js">
	</script>
	<script src="lib/lvl-drag-drop/lvl-drag-drop.js">
	</script>
	<script src="lib/string/String.js">
	</script>
	<script src="js/lib/jszip.min.js">
	</script>
	<script src="js/lib/FileSaver.min.js">
	</script>
	<script src="js/polyfills.js">
	</script>
	<script src="js/app.js">
	</script>
	<script src="js/routes.js">
	</script>
	<script src="js/actions.js">
	</script>
	<script src="js/services/actions.js">
	</script>
	<script src="js/services/bonusstats.js">
	</script>
	<script src="js/services/buffsdb.js">
	</script>
	<script src="js/services/locale.js">
	</script>
	<script src="js/services/recipelibrary.js">
	</script>
	<script src="js/services/profile.js">
	</script>
	<script src="js/services/simulator.js">
	</script>
	<script src="js/services/translatelocalstorage.js">
	</script>
	<script src="js/solver/service.js">
	</script>
	<script src="js/services/tooltips.js">
	</script>
	<script src="js/services/localstorage.js">
	</script>
	<script src="js/controllers/main.js">
	</script>
	<script src="js/controllers/crafterstats.js">
	</script>
	<script src="js/controllers/recipesearch.js">
	</script>
	<script src="js/controllers/simulator.js">
	</script>
	<script src="js/controllers/solver.js">
	</script>
	<script src="js/controllers/sequenceeditor.js">
	</script>
	<script src="js/controllers/options.js">
	</script>
	<script src="js/controllers/charimport.js">
	</script>
	<script src="js/controllers/settingsimport.js">
	</script>
	<script src="js/controllers/macroimport.js">
	</script>
	<script src="js/directives.js">
	</script>
	<script src="js/components/simulator-status.js">
	</script>
	<script src="js/components/action-table.js">
	</script>
	<script src="js/components/action-sequence.js">
	</script>
	<script src="js/components/macros.js">
	</script>
	<script src="js/components/buffs.js">
	</script>
	<script src="js/components/dropzone.js">
	</script>
</body>

</html>